/* client\css\home.css */
body {
  margin: 0;
}

.home-header {
  background-color: #333;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-input {
  padding: 5px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  width: 50vh;
}

.home-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
}

.home-main {
  display: grid;
  grid-gap: 10px;
  width: 98%;
  padding: 10px;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
}

.home-image-container {
  position: relative;
  display: inline-block;
}

.home-image {
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: 200px;
}

.home-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-image-container:hover .home-image {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* displaying overlay */
.home-image-overlay {
  position: absolute;
  bottom: 0px;
  left: -5px;
  right: -7px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.home-image-container:hover .home-image-overlay {
  opacity: 1;
}

.home-modal-content a {
  color: #000;
}

.home-modal-content a:hover {
  text-decoration: none;
}

.home-favorite-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 5px #000;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.home-favorite-icon:hover {
  background-color: beige;
  color: yellow;
}

.home-favorite-icon.favorited {
  color: yellow;
}

.home-footer {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.back-button {
  display: none;
}

/* Modal styles */
.home-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.home-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.home-modal-content img {
  width: 300px;
}

.home-close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.home-close-btn:hover,
.home-close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* responsivity */
@media (min-width: 1200px) {
  .home-main {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home-main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-main {
    grid-template-columns: repeat(3, 1fr);
  }

  .home-main {
    width: 97%;
  }
}

@media (max-width: 768px) {
  .home-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  .home-main {
    width: 96%;
  }

  .home-image {
    height: 180px;
  }

  .home-input {
    width: 35vh;
    font-size: 18px;
  }

  .home-button {
    font-size: 18px;
    padding: 4px 8px;
  }

  /* responsive modal */
  .home-modal-content {
    width: 90%;
    margin: 20% auto;
  }
}

@media (min-width: 420px) and (max-width: 575px) {
  .home-main {
    width: 95%;
  }

  .home-image {
    height: 140px;
  }

  .home-input {
    width: 23vh;
    font-size: 16px;
  }

  .home-button {
    font-size: 16px;
    padding: 4px 8px;
  }

  /* responsive modal */
  .home-modal-content {
    width: 95%;
    margin: 25% auto;
    padding: 15px;
  }

  .home-close-btn {
    font-size: 24px;
  }

  .home-modal-content img {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .home-main {
    width: 93%;
  }

  .home-image {
    height: 120px;
  }

  .home-image-overlay {
    bottom: 2px;
    left: -2px;
    right: -4px;
  }

  .home-input {
    width: 14vh;
    font-size: 13px;
  }

  .home-button {
    font-size: 13px;
    padding: 4px 8px;
  }

  /* responsive modal */
  .home-modal-content {
    width: 95%;
    margin: 30% auto;
    padding: 10px;
  }

  .home-close-btn {
    font-size: 20px;
  }
}
